<div class="container wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="inner">
                <h3>Jokes</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Joke</th>
                            <th scope="col">Punch line</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let joke of jokeList">
                            <th scope="row">{{joke.id}}</th>
                            <td>{{joke.setup}}</td>
                            <td>{{joke.punchline}}</td>
                            <td>
                                {{joke.type}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>